@charset "utf-8";
/* CSS Document */
.mainbox
{
	background-color:silver;
	width:600px;
	height:500px;
	position:relative;
	overflow:hidden;
	
}
.a
{
	background-color:blue;
	width:600px;
	height:50px;
	
	
}
.a1
{   
	width:146px;
	height:50px;
	float:left;
	color:white;
	font-size:25px;
	text-align:center;
	line-height:50px;
	margin-left:2px;
	border-right:2px solid white;
	position:relative;
	overflow:hidden;
	
}
.a2
{
	width:146px;
	height:50px;
	float:left;
	color:white;
	font-size:25px;
	text-align:center;
	line-height:50px;
	margin-left:2px;
	border-right:2px solid white;
	position:relative;
	overflow:hidden;
}
.a3
{
	width:146px;
	height:50px;
	float:left;
	color:white;
	font-size:25px;
	text-align:center;
	line-height:50px;
	margin-left:2px;
	border-right:2px solid white;
	position:relative;
	overflow:hidden;
}
.a4
{
	width:146px;
	height:50px;
	float:left;
	color:white;
	font-size:25px;
	text-align:center;
	line-height:50px;
	margin-left:2px;
	border-right:2px solid white;
	position:relative;
	overflow:hidden;
}
.b
{
	background-color:silver;
	width:580px;
	height:550px;
	position:absolute;
	padding-left:20px;
	opacity:0;
	
}
.b1
{
	background-image:url("corel-LOGO.jpg");
	width:200px;
	height:160px;
    z-index:1;
	margin-top:20px;
	float:left;
	
	
	
	
}
.b2
{
	
	width:320px;
	height:50px;
    font-size:20px;
	margin-top:20px;
	float:left;
	margin-left:220px;
	position:absolute;	
	
}
.b3
{ background-color:silver;
 width:550PX;
 height:400px;
 
 margin-top:45px;
 text-align:justify;
 
 
}
.c
{
	background-color:silver;
	width:580px;
	height:550px;
	position:absolute;
	padding-left:20px;
	opacity:0;
}
.c1
{
	background-image:url("photoshop.jpg");
	width:200px;
	height:200px;
    z-index:1;
	margin-top:20px;
	float:left;
	
	
}
.c2
{
	
	width:320px;
	height:50px;
    font-size:20px;
	margin-top:20px;
	float:left;
	margin-left:220px;
	position:absolute;	
	
}
.c3
{ background-color:silver;
 width:550PX;
 height:400px;
 
 margin-top:45px;
 text-align:justify;
 
 
}
.d
{
	background-color:siver;
	width:580px;
	height:550px;
	position:absolute;
	opacity:0;
	padding-left:20px;
}
.d1
{
	background-image:url("illustrator.jpg");
	width:200px;
	height:160px;
    z-index:1;
	margin-top:20px;
	float:left;
	
	
}
.d2
{
	
	width:320px;
	height:50px;
    font-size:20px;
	margin-top:20px;
	float:left;
	margin-left:220px;
	position:absolute;	
	
}
.d3
{ background-color:silver;
 width:550PX;
 height:400px;

 margin-top:45px;
 text-align:justify;
 
 
}
.e
{
	background-color:silver;
	width:580px;
	height:550px;
	position:absolute;
	padding-left:20px;
	opacity:1;
}
.e1
{
	background-image:url("indesign.jpg");
	width:200px;
	height:160px;
    z-index:1;
	margin-top:20px;
	float:left;
	
	
}
.e2
{
	
	width:320px;
	height:50px;
    font-size:20px;
	margin-top:20px;
	float:left;
	margin-left:220px;
	position:absolute;	
	
}
.e3
{ background-color:silver;
 width:550PX;
 height:400px;

 margin-top:45px;
 text-align:justify;
 }
.a1:hover .b{opacity:1;

transition:1s;
}
.a2:hover .c{opacity:1;

transition:1s;
}
.a3:hover .d{opacity:1;

transition:1s;
}
.a4:hover .e{opacity:1;

transition:1s;
}
